<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unty.hesaptakip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HesapTakip">
        <activity
            android:name=".ParaGiris"
            android:exported="false" />
        <activity
            android:name=".UserPanelActivity"
            android:exported="false" />
        <activity
            android:name=".HareketAddActivity"
            android:exported="false" />
        <activity
            android:name=".MusteriEkle"
            android:exported="false" />
        <activity
            android:name=".Kisiler_Ekrani"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>